<div class="lms-showcase">
    <h2>Library Management System Showcase</h2>
    <section class="course-list">
        <h3>Featured Books</h3>
        <ul>
            <li>
                <h4>Book Title 1</h4>
                <p>Description of Book 1. This book covers the basics of...</p>
                <a href="#" class="enroll-button">Borrow Now</a>
            </li>
            <li>
                <h4>Book Title 2</h4>
                <p>Description of Book 2. This book dives deep into...</p>
                <a href="#" class="enroll-button">Borrow Now</a>
            </li>
            <li>
                <h4>Book Title 3</h4>
                <p>Description of Book 3. This book provides an overview of...</p>
                <a href="#" class="enroll-button">Borrow Now</a>
            </li>
        </ul>
    </section>
    <section class="testimonials">
        <h3>User Testimonials</h3>
        <blockquote>
            <p>"This LMS has transformed the way I manage my reading. The selection is fantastic!"</p>
            <footer>- User Name</footer>
        </blockquote>
        <blockquote>
            <p>"I love the convenience of borrowing books online. Highly recommend!"</p>
            <footer>- User Name</footer>
        </blockquote>
    </section>
</div>